@import "@/styles/base.scss";

#notes {
    .tabs{
        list-style: none;
        display:flex;
        flex-wrap: wrap;
        li{
            display: inline-box;
            cursor: pointer;
            line-height: 40px;
            padding: 0 10px;
            border-right: 1px solid $borderColor;
            text-transform: uppercase;
            &.active{
                color:$activeColor;
            }

            &:last-child{
                border-right:none;
            }
        }


    }

    textarea{
        width: 100%;
        padding: 10px;
        border:0px;
    }
}

